ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
body {
  padding-top: 20px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.gallery-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;

  outline: 1px solid #eee;
}
.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}
.stats-item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 5px;
  }
}

.material-icons {
  margin-right: 5px;
}
.search-form {
  margin-bottom: 20px;
}
.modal-button {
  cursor: pointer;
}
