<form class="search-form" id="search-form">
    <input class="input" type="text" name="query" autocomplete="off" placeholder="Search images..." />
    {{!-- <button type="button" class="modal-button">Load more</button> --}}
    <button type="submit" class="submit-button">Find images!</button>
</form>
