<form class="search-form" id="search-form">
    <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
    <button type="button" class="modal-button">Load more</button>
</form>
